{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h1 id="tituloindex">NUESTRAS<br>
                <b>CAMPAÑAS <br>
                </b></h1>
            <br>

            <hr>

            <p>Ofrecemos un abanico de servicios en nuestra <br>
            empresa de publicidad, que se agrupan en cuatro <br> 
            áreas claves, cada una de estas áreas abarca<br>
            estrategias especializadas para promocionar<br> 
            productos y servicios a nuestros clientes.
            </p>
            <br>
            <button type="submit" id="botontres">
                <a href="{% url 'tipocamp' %}" style="color:white"><b>VER MÁS</b></a>
            </button>
        </div>
        <div class="col-md-6">
            <div class="contenedor">
                <div class="fila">
                    <img src="{% static 'img\campañas1.png' %}" alt="Imagen 1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
{% endblock %}
