{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>Factura</title>

<h1 id="titulo">FACTURA</h1>

<h2> Comprobante de pago </h2>
<p><span id="fecha"></span></p>
<p><span id="hora"></span></p>

    <script>
        const fechaElemento = document.getElementById('fecha');
        const horaElemento = document.getElementById('hora');

        function mostrarFechaHora() {
            const fechaHoraActual = new Date();
            const fechaFormateada = fechaHoraActual.toLocaleDateString(); // Formatea la fecha
            const horaFormateada = fechaHoraActual.toLocaleTimeString(); // Formatea la hora

            fechaElemento.textContent = `Fecha: ${fechaFormateada}`;
            horaElemento.textContent = `Hora: ${horaFormateada}`;
        }

        mostrarFechaHora();
    </script>

<div id="productoSeleccionadoFactura"></div>
<div id="productoInfo"></div>
<p>Cliente: </p>

{% for e in user %}
  <p>{{ e.nombre_cli }}</p>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  // Recupera la lista de productos del localStorage
  var productosParaFactura = JSON.parse(localStorage.getItem("productosParaFactura")) || [];
  console.log(productosParaFactura); // Verifica la lista de productos en la consola

  // Genera el contenido HTML para los productos seleccionados en la factura
  var productoSeleccionadoDiv = document.getElementById("productoSeleccionadoFactura");

  productosParaFactura.forEach(function (producto) {
    var productoHTML = document.createElement("div");
    productoHTML.innerHTML = `
      <p><strong>Nombre:</strong> ${producto.nombre}</p>
      <p><strong>Descripción:</strong> ${producto.descripcion}</p>
      <p><strong>Monto:</strong> ${producto.monto}</p>
      <hr>
    `;
    productoSeleccionadoDiv.appendChild(productoHTML);
  });
</script>

{% endblock %}
