{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <br>
            <h1 id="tituloindex"><b>Tu visión, nuestra<br>creatividad; juntos, creamos historias que <br>perduran en la mente de tu audiencia</b></h1>

            <br>

            <p>A través de creativas estrategias en redes sociales, radios, televisión y afiches, logramos que tu marca destaque, llegando de manera efectiva a tu audiencia y generando un impacto duradero. Nuestro éxito se mide en sonrisas satisfechas y el crecimiento que las marcas que confían en nosotros.</p>
            
            <button type="submit" id="botontres">
                <a href="{% url 'contacto' %}" style="color:white"><b>CONTACTANOS</b></a>
            </button>
        </div>    

        <div class="col-lg-6">  
            <img src="{% static 'img\design.png' %}" id="inicio" alt="diseño" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}
