{% extends 'base.html' %}

{% load static %}

{% block content %}
<body id="fondo">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <div class="formulario-container">
        <a href="index.html">
            <img src="img/logoalt.png">
        </a>
        
    </div>
    <br>
    <h1 id="titulo"><b>Iniciar Sesión</b></h1>
    <br>
    <!--<div class="formulario-container">
        <form class="login-form">
            <label for="inputEmail4" class="form-label"> <b>Email:</b></label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="inputPassword4" class="form-label"> <b>Contraseña:</b></label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="button" class="btn btn-success">Inicia Sesión</button>
            <br>
            <h7 class="navbar-nav">¿No tienes cuenta? <a href="{% url 'registrarse' %}"><u style="color:#b44715">Registrarse</u></h7></a>
        </form>
    </div>-->
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
    </form>
</body>
{% endblock %}