    <br>
    <div class="pay" >
    <h3>MEDIOS DE PAGO:</h3>
    <br>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" name="medioPago" aria-label="Radio button for following text input">
            </div>
            <div class="form-control" aria-label="Text input with radio button">
                Transferencia o Depósito Bancario
            </div>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" name="medioPago" aria-label="Radio button for following text input">
            </div>
            <div class="form-control" aria-label="Text input with radio button">
                PayPal
            </div>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" name="medioPago" aria-label="Radio button for following text input">
            </div>
            <div class="form-control" aria-label="Text input with radio button">
                Mercado Pago
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-success">CONTINUAR</button>
        <br>
    </div>
    <br>
    <br>
</body>
</html>