{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<div class="container text-center">
    <div class="row align-items-center">
      <div class="col box">
        <h2>Básico</h2>
        <ul>
            <li>Un medio de comunicación</li>
            <li>Estrategia de marketing</li>
            <li>Diseño gráfico básico</li>
            <li>Monitoreo y Reportes Básicos</li>
            <li>Estrategia de contenido</li>
        </ul>
        <button type="submit" class="btn btn-secondary"><b>AGREGAR AL CARRITO</b></button>
      </div>
      <div class="col box">
        <h2>Estandar</h2>
        <ul>
            <li>Dos medio de comunicación</li>
            <li>Estrategia de marketing integral</li>
            <li>Diseño gráfico avanzado</li>
            <li>Monitoreo y Reportes Detallados</li>
            <li>Anuncios Creativos</li>
        </ul>
        <button type="submit" class="btn btn-secondary">
            <b>AGREGAR AL CARRITO</b>
        </button>
      </div>
      <div class="col box">
        <h2>Premium</h2>
        <ul>
            <li>Cuatro medios de comunicación</li>
            <li>Estrategia de marketing personalizada</li>
            <li>Diseño gráfico y Multimedia de Alta Calidad</li>
            <li>Monitoreo y Reportes Avanzados</li>
            <li>Creación de Contenido Premium</li>
        </ul>
         <button type="submit" class="btn btn-secondary"><b>AGREGAR AL CARRITO</b></button>
      </div>
      
    </div>
  </div>
</body>

<br>
{% endblock %}